<?xml version="1.0" encoding="UTF-8"?>

<!-- ...131p.http://www.mybatis.org/mybatis-3/getting-started.html 아래쪽 Exploring 
	Mapped SQL Statements 참조. XML Mapper를 작성할 때는 클래스의 패키지와 유사한 용도로, MyBatis내에서 
	원하는 SQL문을 찾을 수 있는 namespace 설정에 가장 신경을 많이 써야 함. XML Mapper는 root-context.xml에서 
	스프링이 인식하도록 등록함. /zex00/src/main/webapp/WEB-INF/spring/root-context.xml -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 패키지익스플로러와 상관없이 개발자가 여기서 지정한 경로명이 프로젝트에서 통용됨. -->
<mapper namespace="org.joy.dao6.dao6_Mapper">

	<select id="getMySqlVersion" resultType="String">
        SELECT VERSION()
    </select>
    

	<sql id="BaseColumns">
		user_id,
		user_pw,
		user_name,
		email
	</sql>

	<resultMap id="memberResultMap" type="MemberVO">
		<id column="user_id" jdbcType="BIGINT" property="user_id" />
		<result column="user_pw" jdbcType="VARCHAR" property="user_pw" />
		<result column="user_name" jdbcType="TIMESTAMP" property="user_name" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="regdate" jdbcType="TIMESTAMP" property="regDate" />
		<result column="updatedate" jdbcType="TIMESTAMP" property="updateDate" />
	</resultMap>


	<select id="getMember_DynamicSql" resultMap="memberResultMap">
		select  
		<include refid="BaseColumns"/>
		from ztbl_member
		<where>			
		    <if test = "_parameter != null">
		        user_id = #{id}
		    </if>
		</where>
	</select>
    
    
</mapper>